<div class="container">

    <div class="detalle-pelicula-imagen">
        <img src="{{ pelicula?.foto }}" alt="{{ pelicula?.nombre }}" width="50px" height="50px">
    </div>
    <div class="detalle-pelicula-info">
        <h2>{{ pelicula?.nombre }}</h2>
        <p><strong>Protagonista:</strong> {{ pelicula?.protagonista }}</p>
        <p><strong>Tipo:</strong> {{ pelicula?.tipo }}</p>
        <p><strong>Fecha de Estreno:</strong> {{ pelicula?.fechaEstreno }}</p>
        <p><strong>Cantidad de Público:</strong> {{ pelicula?.cantidadPublico }}</p>
    </div>

</div>
